In [174]:
import googlemaps
import pandas as pd
import time
from geopy.distance import geodesic
import numpy as np

# 計算使用者去電影院次數

In [75]:
cinema_list=pd.read_excel(r'./cinema_list.xlsx',encoding='utf-16',index_col=0)

cinema_list.head()

,name,district,place_id,address,latitude,longtiude
0,新民生戲院,大台北北投區,bfa5c05136e478b1edfc6273d20ba24cbc75811c,松山區民生東路五段190號,25.058683,121.564244
1,誠品電影院,大台北北投區,9709f99de4c06b547423b322327f511acc796988,信義區菸廠路88號,25.044728,121.560687
2,台北信義威秀影城,大台北北投區,3a0bc087bb65e56d8d0ac9094051a710cfaba6ee,信義區松壽路20號,25.035552,121.567282
3,喜滿客京華影城(股),大台北北投區,c2fb62caa50f12d76c3a6ae01e4e2a74c4f510dc,松山區八德路四段138號B1 No,25.048495,121.562430
4,南京公寓映画所,大台北北投區,460531cc074e90fc78fc57bab1e08c92903514bc,松山區南京東路五段291巷5弄27號號,25.052067,121.567176

In [156]:
user_stay_point=pd.read_excel(r'./user_stay_point_final.xlsx',encoding='utf-16',index_col=0)
user_stay_point.head()

,user,date,stay_point_coord,start,end,duration
0,user1,2019-11-26,"(25.052463, 121.604865)",2019-11-26 13:18:17,2019-11-26 16:30:43,192.433333
1,user1,2019-11-26,"(25.0420301197541, 121.5318861763114)",2019-11-26 17:14:53,2019-11-26 19:39:05,144.200000
2,user1,2019-11-26,"(25.04349100095238, 121.5326256890476)",2019-11-26 19:41:29,2019-11-26 20:06:49,25.333333
3,user1,2019-11-26,"(24.95123293461539, 121.5527319884615)",2019-11-26 21:18:17,2019-11-26 21:47:43,29.433333
4,user1,2019-12-06,"(24.67737572222222, 121.7710075388889)",2019-12-06 20:22:12,2019-12-06 20:42:01,19.816667

In [76]:
#電影院座標轉換成1格
coord_list=[]
#cinema_list['coord']=(0,0)
for i in range(len(cinema_list)):
    coord=(cinema_list.loc[i,'latitude'],cinema_list.loc[i,'longtiude'])
    coord_list.append(coord)
pds=pd.Series(coord_list)
cinema_list['coord']=pds

In [157]:
user_movie={}
for i in user_stay_point.index:
    if user_stay_point.loc[i,'user'] not in user_movie:
                  user_movie[user_stay_point.loc[i,'user']]=0
    stay_point=eval(user_stay_point.loc[i,'stay_point_coord'])
    for c in cinema_list['coord'].index:
        dist=geodesic(stay_point,cinema_list['coord'][c]).kilometers
        if dist <0.1 and user_stay_point.loc[i,'duration']>60 :
            print(cinema_list.loc[c])
            print(user_stay_point.loc[i])
            user_movie[user_stay_point.loc[i,'user']]+=1

name                                       喜樂時代影城 南港店
district                                       大台北北投區
place_id     922242ddd223bab93211085b5f38f2a016b6bd63
address                            南港區忠孝東路七段299號C棟11樓
latitude                                      25.0526
longtiude                                     121.605
coord                       (25.0525773, 121.6048176)
Name: 12, dtype: object
user                                  user1
date                             2019-11-26
stay_point_coord    (25.052463, 121.604865)
start                   2019-11-26 13:18:17
end                     2019-11-26 16:30:43
duration                            192.433
Name: 0, dtype: object
name                                       喜樂時代影城 南港店
district                                       大台北北投區
place_id     922242ddd223bab93211085b5f38f2a016b6bd63
address                            南港區忠孝東路七段299號C棟11樓
latitude                                      25.0526
longtiude                                     121.605
coord                       (25.0525773, 121.6048176)
Name: 12, dtype: object
user                                  user7
date                             2019-11-26
stay_point_coord    (25.052575, 121.604871)
start                   2019-11-26 13:30:17
end                     2019-11-26 16:30:43
duration                            180.433
Name: 92, dtype: object
name                                         臺北京站威秀影城
district                                       大台北北投區
place_id     680dd9c4c2df8c04a8006b6fecfe5c5bb8b446bf
address                               大同區市民大道一段209號5樓
latitude                                      25.0491
longtiude                                     121.519
coord                        (25.049116, 121.5185352)
Name: 8, dtype: object
user                                     user7
date                                2019-11-29
stay_point_coord    (25.0490591, 121.51810645)
start                      2019-11-29 18:12:28
end                        2019-11-29 19:13:24
duration                               60.9333
Name: 100, dtype: object

In [158]:
user_movie

{'user1': 1,
 'user2': 0,
 'user3': 0,
 'user4': 0,
 'user5': 0,
 'user6': 0,
 'user7': 2}

# 計算使用者平均staypoint個數及停留時間

In [185]:
user_stay_point.groupby(['user']).agg({'stay_point_coord':'count',
                                      'duration':'sum'})

       stay_point_coord     duration
user
user1                 9  1378.916667
user2                 7   713.200000
user3                10  3243.933333
user4                19  7221.866667
user5                29  6231.816667
user6                13  4293.550000
user7                20  1579.233333

In [164]:
user_stay_point

,user,date,stay_point_coord,start,end,duration
0,user1,2019-11-26,"(25.052463, 121.604865)",2019-11-26 13:18:17,2019-11-26 16:30:43,192.433333
1,user1,2019-11-26,"(25.0420301197541, 121.5318861763114)",2019-11-26 17:14:53,2019-11-26 19:39:05,144.200000
2,user1,2019-11-26,"(25.04349100095238, 121.5326256890476)",2019-11-26 19:41:29,2019-11-26 20:06:49,25.333333
3,user1,2019-11-26,"(24.95123293461539, 121.5527319884615)",2019-11-26 21:18:17,2019-11-26 21:47:43,29.433333
4,user1,2019-12-06,"(24.67737572222222, 121.7710075388889)",2019-12-06 20:22:12,2019-12-06 20:42:01,19.816667
5,user1,2019-12-06,"(24.6784706, 121.7707810588235)",2019-12-06 20:45:19,2019-12-06 21:03:04,17.750000
6,user1,2019-12-06,"(24.67489107, 121.7704191553846)",2019-12-06 21:09:14,2019-12-06 21:24:07,14.883333
7,user1,2019-12-06,"(24.6758851996875, 121.768344229375)",2019-12-06 21:28:57,2019-12-06 22:04:46,35.816667
8,user1,2019-12-06,"(24.6773619152381, 121.7710231332234)",2019-12-06 22:17:32,2019-12-07 13:16:47,899.250000
9,user2,2019-11-30,"(25.05280527, 121.5442672911111)",2019-11-30 11:26:55,2019-11-30 13:44:29,137.566667
10,user2,2019-11-30,"(25.0537584, 121.5477461)",2019-11-30 16:28:49,2019-11-30 16:28:59,0.166667
11,user2,2019-11-30,"(25.05279420846153, 121.546710233077)",2019-11-30 17:19:45,2019-11-30 17:36:11,16.433333
12,user2,2019-11-30,"(25.05280249375, 121.544260675)",2019-11-30 17:44:10,2019-11-30 18:04:12,20.033333
13,user2,2019-12-06,"(25.05083499444444, 121.3744953462963)",2019-12-06 08:05:55,2019-12-06 11:55:20,229.416667
14,user2,2019-12-06,"(25.050077925, 121.37560130625)",2019-12-06 11:58:22,2019-12-06 12:37:24,39.033333
15,user2,2019-12-06,"(25.05083348057692, 121.3744970475961)",2019-12-06 12:40:13,2019-12-06 17:10:46,270.550000
16,user3,2019-12-03,"(25.04235834232283, 121.5785223655512)",2019-12-03 00:00:01,2019-12-03 07:48:16,468.250000
17,user3,2019-12-03,"(25.03220703612567, 121.5131532293194)",2019-12-03 08:20:34,2019-12-03 18:10:53,590.316667
18,user3,2019-12-03,"(25.01389336089888, 121.5295568895505)",2019-12-03 18:53:58,2019-12-03 20:50:34,116.600000
19,user3,2019-12-03,"(25.04234940229007, 121.5785162160306)",2019-12-03 21:48:45,2019-12-03 23:58:45,130.000000
20,user3,2019-12-04,"(25.04234940229007, 121.5785162160306)",2019-12-04 00:00:22,2019-12-04 06:58:12,417.833333
21,user3,2019-12-06,"(25.04234929235295, 121.5785129975818)",2019-12-06 21:30:02,2019-12-06 23:59:01,148.983333
22,user3,2019-12-07,"(25.04234929235295, 121.5785129975818)",2019-12-07 00:00:03,2019-12-07 08:41:57,521.900000
23,user3,2019-12-07,"(25.04093474387097, 121.5795745254839)",2019-12-07 08:46:59,2019-12-07 09:24:26,37.450000
24,user3,2019-12-07,"(25.04234966605042, 121.5785227033614)",2019-12-07 09:39:52,2019-12-07 22:27:27,767.583333
25,user3,2019-12-08,"(25.04235902500001, 121.5784931958334)",2019-12-08 07:01:49,2019-12-08 07:46:50,45.016667
26,user4,2019-11-30,"(25.04237084242426, 121.5785562045455)",2019-11-30 00:50:11,2019-11-30 23:59:29,1389.300000
27,user4,2019-12-01,"(25.04234305125476, 121.5785325277567)",2019-12-01 00:01:04,2019-12-01 12:34:04,753.000000
28,user4,2019-12-01,"(25.0283117575, 121.5663684525)",2019-12-01 12:58:04,2019-12-01 13:16:10,18.100000
29,user4,2019-12-01,"(25.04236906285714, 121.5785576257142)",2019-12-01 13:34:05,2019-12-01 23:58:14,624.150000
...,...,...,...,...,...,...
77,user6,2019-11-30,"(25.04233498418919, 121.5785307699325)",2019-11-30 09:11:00,2019-11-30 12:20:44,189.733333
78,user6,2019-11-30,"(25.0404061916, 121.5755582)",2019-11-30 12:26:59,2019-11-30 12:56:57,29.966667
79,user6,2019-11-30,"(25.04233348022523, 121.5785278921622)",2019-11-30 13:01:04,2019-11-30 23:59:29,658.416667
80,user6,2019-12-01,"(25.04234289137379, 121.5785304383387)",2019-12-01 00:00:30,2019-12-01 12:36:12,755.700000
81,user6,2019-12-01,"(25.028132325, 121.565777675)",2019-12-01 12:54:07,2019-12-01 13:12:07,18.000000
82,user6,2019-12-01,"(25.04234275909091, 121.5785388409091)",2019-12-01 13:30:08,2019-12-01 23:56:29,626.350000
83,user6,2019-12-02,"(25.04234184702701, 121.5785047816216)",2019-12-02 00:02:08,2019-12-02 11:43:36,701.466667
84,user6,2019-12-02,"(25.028136625, 121.5657266)",2019-12-02 12:01:37,2019-12-02 12:19:37,18.000000
85,user6,2019-12-02,"(25.04234111564706, 121.5785360758823)",2019-12-02 12:43:37,2019-12-02 23:54:57,671.333333
86,user6,2019-12-03,"(25.04233559027026, 121.5785272799999)",2019-12-03 00:00:57,2019-12-03 00:18:58,18.016667
87,user7,2019-11-25,"(24.964163975, 121.192772425)",2019-11-25 00:24:31,2019-11-25 00:39:14,14.716667
88,user7,2019-11-25,"(24.96781735, 121.19170875)",2019-11-25 09:19:15,2019-11-25 09:20:17,1.033333
89,user7,2019-11-25,"(24.96410055230769, 121.1906380446154)",2019-11-25 12:14:48,2019-11-25 12:45:07,30.316667
90,user7,2019-11-25,"(24.9676468, 121.1915304)",2019-11-25 13:34:10,2019-11-25 13:37:18,3.133333
91,user7,2019-11-25,"(25.04232555, 121.57857215)",2019-11-25 19:14:48,2019-11-25 19:16:51,2.050000
92,user7,2019-11-26,"(25.052575, 121.604871)",2019-11-26 13:30:17,2019-11-26 16:30:43,180.433333
93,user7,2019-11-26,"(25.0420673275, 121.53170521)",2019-11-26 17:50:28,2019-11-26 19:33:56,103.466667
94,user7,2019-11-26,"(24.96415972727273, 121.1928207272727)",2019-11-26 21:37:42,2019-11-26 23:25:36,107.900000
95,user7,2019-11-27,"(24.96404929428572, 121.1928279457143)",2019-11-27 00:53:46,2019-11-27 10:44:12,590.433333
96,user7,2019-11-27,"(24.96395006, 121.215458)",2019-11-27 10:55:58,2019-11-27 11:21:59,26.016667
97,user7,2019-11-27,"(24.96780865, 121.1917346)",2019-11-27 14:48:03,2019-11-27 15:00:03,12.000000
98,user7,2019-11-29,"(24.967798375, 121.191621975)",2019-11-29 10:53:25,2019-11-29 16:59:11,365.766667
99,user7,2019-11-29,"(25.0477789, 121.5178991)",2019-11-29 18:00:29,2019-11-29 18:04:09,3.666667
100,user7,2019-11-29,"(25.0490591, 121.51810645)",2019-11-29 18:12:28,2019-11-29 19:13:24,60.933333
101,user7,2019-11-29,"(25.042284822, 121.578467646)",2019-11-29 22:02:54,2019-11-29 22:12:47,9.883333
102,user7,2019-12-01,"(25.055897165, 121.5422276816667)",2019-12-01 12:00:02,2019-12-01 12:22:44,22.700000
103,user7,2019-12-01,"(25.051889575, 121.544596925)",2019-12-01 13:34:50,2019-12-01 13:35:54,1.066667
104,user7,2019-12-01,"(25.090131962, 121.536297066)",2019-12-01 16:04:10,2019-12-01 16:24:04,19.900000
105,user7,2019-12-01,"(25.083721425, 121.528782115)",2019-12-01 16:47:37,2019-12-01 16:57:48,10.183333
106,user7,2019-12-01,"(25.08318037375, 121.528532175)",2019-12-01 17:19:13,2019-12-01 17:32:51,13.633333